/* CSS declarations go here */
a.btn.btn-red {
  background-color: rgba(255, 0, 0, 0.51);
}
#login-dropdown-list {
  top: 33px;
  left: -160px;
}

select.ak{
  display: list-item;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
  background-color: #26a69a;
}

#login-buttons .login-button, .accounts-dialog .login-button {

  background: #26a69a;
  border: 1px solid #26a69a;
  border-radius: 4px;
}

.help-block {
  color: rgba(255, 0, 0, 0.51);
}
span.badge.old {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}
.card .old a {
  color: #fff;
}


.myJumbotron{
  background-image: url('/img/j.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90%;
  position: absolute;
}



.errorImg {
  width: 100px;
  height: 100px;
  background-image: url('/img/error.gif');
  background-size: cover;
  position: relative;
  -webkit-animation: moveBoat 5s; /* Chrome, Safari, Opera */
  animation: moveBoat 30s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveBoat {
  0%   {left:0px; top:0px;}
  50%  { left:700px; top:0px;}
  99% {-webkit-transform: rotateY(130deg); /* Chrome, Safari, Opera */
  transform: rotateY(130deg); /* Standard syntax */}
  100% { left:0px; top:0px;}
}

/* Standard syntax */
@keyframes moveBoat {
  00%   {left:0px; top:0px;}
  70%  { left:500px; top:0px; -webkit-transform: rotateY(130deg); /* Chrome, Safari, Opera */
  transform: rotateY(130deg); /* Standard syntax */}
  99% {-webkit-transform: rotateY(130deg); /* Chrome, Safari, Opera */
  transform: rotateY(130deg); /* Standard syntax */}
  100% { left:0px; top:0px;}
}

}